button.button {
    @include button-style($color-primary, $color-primary-hover);
    border-radius: $border-radius-base;
    font-size: $font-size-base;
    margin-right: $spacing-small;
    min-width: 120px;
    padding: $spacing-small $spacing-large;
}

.spinner {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 1;
}