#woo-metawizard-table {
    background: rgb(255, 255, 255);
    border-collapse: collapse;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;

    thead th {
        background: rgb(241, 241, 241);
        border-bottom: 1px solid rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        font-weight: 600;
        padding: 10px;
    }

    tbody tr {
        position: relative;

        &:hover {
            background: $color-light-gray;
        }

        &.deleting {
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
        }
    }

    .row-actions {
        color: $color-gray;
        font-size: 12px;

        a {
            color: $color-primary;

            &:hover {
                color: $color-primary-hover;
            }
        }
    }
}